# Compiler files
cache/
cache-zk/
out/
zkout/
deployment/*

# Ignores development broadcast logs
!/broadcast
/broadcast/*
broadcast/

# Docs
docs/

node_modules
.env

# Hardhat files
/cache
/artifacts
/artifacts-zk

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
node_modules/
